html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	background-color: #f2f1fd;
}
.logo{
	font-size: 30px !important;
	font-weight: 800;
	font-style: italic;
	color: #063f69 !important;
}
.menu{
	display: flex;
	float: right;
}
.menu ul li a{
	font-size: 14px;
	font-weight: 600;
	color: #4876ec !important;
	padding: 0 20px !important;
	transition: .5s;
}
.menu ul li a:hover{
	color: #063f69 !important;
}
.r_g_btn{
	border: 1px solid #063f69 !important;
	border-radius: 20px;
	margin-right: 10px !important;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.r_g_btn{
		margin-bottom: 5px !important;
	}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.r_g_btn{
		margin-bottom: 5px !important;
	}
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.r_g_btn{
		margin-bottom: 5px !important;
	}
}

/*header end*/
/*updateBlog*/
.newBlog textarea{
	height: 200px !important;
	border-color: #063f69 !important;
}
.newBlog input{
	border-color: #063f69 !important;
}
.newBlog button{
	color: #ffffff !important;
	background-color: #063f69 !important;
	border-color: #063f69 !important;
	border-radius: 20px;

}
/*updateBlog end*/
/*newsLetter start*/
.newsLetter{
	background-image: url("../images/newsletter.jpg");
	background: cover;
	background-repeat: no-repeat;
}
.NLheading h2{
	font-weight: 800;
}
.NLform input{
	background: #2c6cff;
	border:none;
	border-radius: 20px;
	padding: 5px;
	width: 300px

}
.NLform a{
	font-size: 12px;
	background: #ffffff;
	border-radius: 20px;
	text-decoration: none;
	padding: 9px 13px;
	margin-left: -69px
}
/*newsLetter end*/
/*footer start*/
footer div p:last-child{
	color: #063f69;
	margin-top: -15px
}
/*footer end*/